<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Asap+Condensed&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css"
      integrity="sha512-HqxHUkJM0SYcbvxUw5P60SzdOTy/QVwA1JJrvaXJv4q7lmbDZCmZaqz01UPOaQveoxfYRv1tHozWGPMcuTBuvQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <title>Login</title>
  </head>
  <body>
    <main>
      <h1 class="title is-1 has-text-centered pt-2">Restaurant Journal</h1>
      <section class="section is-medium">
      <div class="card" id="login-card">
        <div class="card-content">
          <% if(messages.length) {%>
            <div class="notification is-danger p-2" id="error-message"> 
            <%=messages%>
          </div>
            <% } %>
            <% if(success.length) {%>
              <div class="notification is-primary p-2" id="success-message">
              <%=success%>
            </div>
              <% } %>
              <% if(authorize.length) {%>
                <div class="notification is-danger p-2" id="error-message"> 
                <%=authorize%>
              </div>
                <% } %>  
          <form action="/login" method="POST" class="user-form p-4">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" class="input" required/>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="input" required/>
            <button class="button is-success mt-5">Log in</button>
          </form>
        </div>
      </section>
    </main>
  </body>
</html>
