*{
    font-family: 'Asap Condensed', sans-serif;
}
header{
    text-align: center;
    padding: 1rem;
    font-size: 3rem;
}
#buttonBox{
    display: flex;
    justify-content: center;
}

#star-container label, #price-container label {
    float: right;
    color: #969da8
}
#star-container input, #price-container input{
    display: none;
}
#star-container label:before{
    content: '★';
    font-size: 3rem;
    font-weight: 700;

}
#price-container  label:before{
    content: '$';
    font-size: 3rem;
    font-weight: 700;

}
#star-container, #price-container{
    display: flex;
}
#star-container input:checked ~label{
    color: #ffd700
}
#price-container input:checked ~label{
    color: #118c4f
}

#star-container:not(:checked) >div> label:hover,
#star-container:not(:checked) >div> label:hover ~ label{
    color: #ffd700
}
#price-container:not(:checked) >div> label:hover,
#price-container:not(:checked) >div> label:hover ~ label{
    color: #118c4f
}

#star-container input:checked >div> label:hover,
#star-container input:checked >div> label:hover ~ label{
    color: #ffd700
}

#price-container input:checked >div> label:hover,
#price-container input:checked >div> label:hover ~ label{
    color: #118c4f
}
main > div{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap:1rem;
    
}
main{
    padding:1rem;
    
}
.card>*{
    text-align: center;
    font-size: 1.4rem;
}
.card-header-title {
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
}
#delete-res-button{
    border: none;
    background-color: white;
    font-family: 'Asap Condensed', sans-serif;
    font-size: 1.4rem;
    color:red;
    cursor:pointer;
}
h1{
    color:black
}



.star-rating{
    color:gold;
    font-size: 2rem;
    font-weight: 700;
}
#rating-container, #price-point-container{
    display: flex;
    flex-direction: column;
}
.price-point{
    color:green;
    font-size: 2rem;
    font-weight: 600;

}
#location-container{
    margin-bottom:1.5rem;
}
#new-res-link{
    color: white;
}
#log-reg-card{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
#log-reg-container, .form-main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(0.25turn, #66b2b2, #d1e3dd, #b6d0e2);
}
.user-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:1rem;
}
#restaurant-container, #unknown-container{
    background: linear-gradient(0.25turn, #66b2b2, #d1e3dd, #b6d0e2);
    min-height: 100vh;
    max-height:100%;


}
#restaurant-container h1{
    margin-top: -2.5rem;
}

#logout-container{
    text-align:right;
}
#unknown-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#page-not-found{
    font-size:3rem;
    color: black;
}
.restaurant-journal{
    position: absolute;
    top: 0;
    font-size: 3rem;
    padding-top:1rem;
}

.details-line-header{
    color: black;
    font-weight:700;
}
#pricepoint-text, #rating-text, #name-text, #location-text, #cuisine-text {
    display: flex;
    align-items: center;
    justify-content: center;
}
#notes-container{
    
    word-wrap: break-word;
    
    
} 
#details-card{
    overflow-y: auto;
    max-width: 600px;
}
#edit-card, #new-card, #details-card{
    max-height: 90%;
    overflow-y: auto;
}